.outer {
    background-color: bisque;
    width: 500px;
    height: 500px;
    /* position: absolute; */
    top: 190px;
    left: 30px;
}

.box1 {
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: lightblue;
    opacity: 0.5;
    width: 200px;
    height: 100px;
    border: 2px solid blue;
}

.box2 {
    position: relative; 
    top: 20px;
    left: 30px;
    background-color: lightgreen;
    opacity: 0.5;
    width: 200px;
    height: 100px;
    border: 2px solid green;

}

.box3 {
    /* position: relative; */
    top: 20px;
    left: 30px; 
    background-color: lightgray;
    opacity: 0.5;
    width: 200px;
    height: 100px;
    border: 2px solid black;
}

.box4 {
    /* position: fixed; */
    top: 20px;
    left: 30px;
    background-color: rgb(245, 110, 110);
    opacity: 0.5;
    width: 200px;
    height: 100px;
    border: 2px solid red;
}